@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/*font-family: 'Rajdhani', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/*font-family: 'Satisfy', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/*font-family: 'Kalam', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
/*font-family: 'Merienda', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
/*font-family: 'Shadows Into Light Two', cursive;*/

*{
    margin:0;
    padding:0;
    cursor: url(https://cur.cursors-4u.net/anime/ani-9/ani879.ani), url(https://cur.cursors-4u.net/anime/ani-9/ani879.png), auto !important;
}


body {
   
    font-family: 'Rajdhani', sans-serif;
    background-color: rgba(141, 241, 78, 0.288);
}

.blog{
    background-color: azure;
}
/*La barre de nav*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:rgb(220, 255, 238);
    padding: 0 2rem; /*peut etre à retirer*/
    
}

nav h1{
    font-family: 'Lobster', cursive;
    font-size: 40px; 
    margin-top: 15px;
    color:rgb(38, 121, 74);
}

nav .onglets{
    margin-top: 30px;
    margin-bottom: 20px;
}

nav .onglets a{
    text-decoration: none;
    color:rgb(30, 156, 93);
    margin-right: 15px;
    text-shadow: 1px 1px 1px;
    font-weight: bold;
    font-size: 30px;
    padding: 1rem 0;
}
.homepicture{
    max-height: 500px;
    overflow: hidden;
    
}
.homepicture img{
    max-width: 100%;
    height: auto;
    display: block;
}



/*blog section info*/
.date{
    padding: 10px;
    margin-top: 40px;
    text-align: left;
}

.collab {
    padding: 10px;
    margin-top: 40px;
    text-align: left;
    font-size: 25px;
    font-style: italic;

}
.langages{
    margin-top: 10px;
    font-weight: bold;
}

.right a{
    text-decoration: none;
    color:rgb(233, 144, 10);
    margin-left:50px;
    padding: 15px;
    text-shadow: 2px 2px 2px black;
}

.right a:hover{
    color:chartreuse;
    text-shadow: darkred;
}
.description{
    margin-bottom: 15px;
}
.articles{
    margin-top: 30px;
}

.articles h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(21, 85, 29);
    margin-top: 40px;
}

.articles .feuilleR{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(38, 121, 74);
    justify-content: center;
    padding: 25px;
    border-radius:200px 2px 200px 30px ;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 5%;

}

.articles .feuilleL{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(51, 175, 105);
    justify-content: center;
    padding: 25px;
    border-radius:2px 200px 30px 200px ;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;

}

.articles .left img{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 500px;
    border-radius:10px 10px 10px 10px ;
    margin-right: 4%;
}

.articles .right{
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: 7%;
    margin-right: 2%;
    text-align: justify;
    font-size: 25px;
}

.articles div div h1{
    display: flex;
    flex-wrap: wrap;
    color:rgb(145, 184, 139);
    text-align: center;
    text-shadow:2px 2px 2px rgba(21, 88, 47, 0.753);
}

/*blog section cinéma*/

.articles2{
    margin-top: 30px;
}

.articles2 h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(212, 89, 7);
    margin-top: 40px;
}

.articles2 .feuilleR{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(143, 59, 10);
    justify-content: center;
    padding: 25px;
    border-radius:200px 2px 200px 30px ;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 5%;

}

.articles2 .feuilleL{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(194, 69, 11);
    justify-content: center;
    padding: 25px;
    border-radius:2px 200px 30px 200px ;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;

}

.articles2 .left img{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 500px;
    border-radius:10px 10px 10px 10px ;
    margin-right: 4%;


}

.articles2 .right{
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: 7%;
    margin-right: 2%;
    text-align: justify;
    font-size: 25px;
}



.articles2 div div h1{
    display: flex;
    flex-wrap: wrap;
    color:rgb(197, 163, 12);
    text-align: center;
    text-shadow:2px 2px 2px rgba(128, 54, 5, 0.753);
}

/*blog section arts*/

.articles3{
    margin-top: 30px;
}

.articles3 h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(106, 212, 7);
    margin-top: 40px;
}

.articles3 .feuilleR{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(57, 175, 2);
    justify-content: center;
    padding: 25px;
    border-radius:200px 2px 200px 30px ;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 5%;

}

.articles3 .feuilleL{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(122, 190, 32);
    justify-content: center;
    padding: 25px;
    border-radius:2px 200px 30px 200px ;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;

}

.articles3 .left img{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 500px;
    border-radius:10px 10px 10px 10px ;
    margin-right: 4%;


}

.articles3 .right{
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: 7%;
    margin-right: 2%;
    text-align: justify;
}

.articles3 div div h1{
    display: flex;
    flex-wrap: wrap;
    color:rgb(56, 102, 49);
    text-align: center;
    text-shadow:2px 2px 2px rgba(21, 88, 47, 0.753);
}


/*blog section livres*/

.articles4{
    margin-top: 30px;
}

.articles4 h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(92, 59, 22);
    margin-top: 40px;
}

.articles4 .feuilleR{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(133, 99, 49);
    justify-content: center;
    padding: 25px;
    border-radius:200px 2px 200px 30px ;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 5%;

}

.articles4 .feuilleL{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color:rgb(97, 66, 19);
    justify-content: center;
    padding: 25px;
    border-radius:2px 200px 30px 200px ;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;

}

.articles4 .left img{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: auto;
    border-radius:10px 10px 10px 10px ;
    margin-right: 4%;
    margin-top: 10%;
    margin-bottom: 1%;
}

.articles4 .right{
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: 7%;
    margin-right: 2%;
    text-align: justify;
    font-size: 25px;
}

.articles4 div div h1{
    display: flex;
    flex-wrap: wrap;
    color:rgb(230, 202, 179);
    text-align: center;
    text-shadow:2px 2px 2px rgba(240, 203, 181, 0.753);
}





/*Le footer*/

footer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:rgb(21, 85, 29);
}

footer h2{
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

footer .social-media{
    display: flex;
}

footer .social-media p{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 10px;

}

/*Les feuilles du home*/
.feuilles{
    text-align: center;
}
.feuilles .feuillelinkright{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
}
.feuilles .feuillelinkright a:hover{
    background-color: rgba(32, 145, 75, 0.753);
}

.feuilles .feuillelinkright a{
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    border-radius:60px 2px 60px 10px ;
    text-decoration:none;
    color:rgb(178, 240, 208);
    text-shadow: 1px 1px 1px;
    background-color: rgba(26, 116, 60, 0.753);
    font-family: 'Shadows Into Light Two', cursive;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;

}

.feuilles .feuillelinkleft{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.feuilles .feuillelinkleft a:hover{
    background-color: rgba(32, 145, 75, 0.753);
}

.feuilles .feuillelinkleft a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius:2px 60px 10px 60px ;
    text-decoration:none;
    color:rgb(178, 240, 208);
    text-shadow: 1px 1px 1px;
    background-color: rgba(26, 116, 60, 0.753);
    font-family: 'Shadows Into Light Two', cursive;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;

}



/*Adaptation mobile*/

@media screen and (max-width:640px){
    body{
        margin: 10px 20px;

    }

    nav .onglets{
        margin-top: 10px;
    }

    

    footer .social-media{
        margin-top: -20px;
    }

    .collab{
        font-size: 20px;
    }

    
    .feuilles .feuillelinkright a{
        padding: 20px;
    }
    
    
    .feuilles .feuillelinkleft a{
        padding: 20px;
        text-align: center;
    }


    
    .articles .feuilleR{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;

    
    }
    
    .articles .feuilleL{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;
    
    }
    
    .articles .feuilleL .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 20px;
        border-radius: 20px 20px 20px 20px;
    }

    .articles .feuilleR .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 11%;
        border-radius: 20px 20px 20px 20px;
    }
    
    .articles .right{
        margin-left: -10%;
        margin-right: -2%;
        text-align: center;
        min-width: 80%;
    }
    
    .articles div div h1{
        text-align: center;
        margin-left: 15%;
    }

    /*films*/
    .articles2 .feuilleR{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;

    
    }
    
    .articles22 .feuilleL{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;
    
    }
    
    .articles2 .feuilleL .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 20px;
        border-radius: 20px 20px 20px 20px;
    }

    .articles2 .feuilleR .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 11%;
        border-radius: 20px 20px 20px 20px;
    }
    
    .articles2 .right{
        margin-left: -10%;
        margin-right: -2%;
        text-align: center;
        min-width: 80%;
    }
    
    .articles2 div div h1{
        text-align: center;
        margin-left: 15%;
    }

    /*art*/
    .articles3 .feuilleR{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;

    
    }

    .articles .right{
        font-size: 20px;
    }

    .articles2 .right{
        font-size: 20px;
    }
    .articles3 .right{
        font-size: 20px;
    }
    .articles4 .right{
        font-size: 20px;
    }
    
    .articles3 .feuilleL{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;
    
    }
    
    .articles3 .feuilleL .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 20px;
        border-radius: 20px 20px 20px 20px;
    }

    .articles3 .feuilleR .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 11%;
        border-radius: 20px 20px 20px 20px;
    }
    
    .articles3 .right{
        margin-left: -10%;
        margin-right: -2%;
        text-align: center;
        min-width: 80%;
    }
    
    .articles3 div div h1{
        text-align: center;
        margin-left: 15%;
    }

    /*livres*/
    .articles4 .feuilleR{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;

    
    }
    
    .articles4 .feuilleL{
        margin-bottom: 30px;
        padding: 25px;
        margin-top: 3%;
        margin-bottom: 5%;
    
    }
    
    .articles4 .feuilleL .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 20px;
        border-radius: 20px 20px 20px 20px;
    }

    .articles4 .feuilleR .left img{
        height: auto; 
        width: 100%;
        margin-top: 24%;
        margin-right: 11%;
        border-radius: 20px 20px 20px 20px;
    }
    
    .articles4 .right{
        margin-left: -10%;
        margin-right: -2%;
        text-align: center;
        min-width: 80%;
    }
    
    .articles4 div div h1{
        text-align: center;
        margin-left: 15%;
    }
   


}